<div class="review" style="{{reviewBackground this.rating}}">
    <div class="review__main-container">
        <div class="review__profile">
            <div class="review__profile__img-container">
                <img src="{{this.userAvatar}}" class="review__profile__img">
            </div>
            <h4 class="review__profile__name">{{this.userName}}</h4>
        </div>

        <div class="review__value">
            <div class="review__text">
                <h2 class="review__title">{{this.title}}</h2>
                {{this.text}}
            </div>
            <div class="review__add-info">
                <div class="review__add-info__stars">
                    {{renderStars this.rating}}
                </div>
                <div class="review__add-info__data">
                    {{this.createdAt}}
                </div>
            </div>
        </div>
    </div>
</div>