<form class="filter">
  <div class="filter-group geoposition-group">
    <p class="filter__group-name">По геопозиции</p>
    {{#each geoposition.variations}}
      <div class="filter-element">
        <input type="radio" id="geo-{{@index}}" name="geo" value="{{this.value}}" {{#if this.isDefault}}checked{{/if}}/>
        <label for="geo-{{@index}}">{{this.text}}</label>
      </div>
    {{/each}}
  </div>
    <hr>
  <div class="filter-group rating-group">
    {{#each rating.variations}}
      <div class="filter-element">
        <input type="checkbox" id="rating-{{@index}}" name="rating" value="{{@key}}" {{#if this.isDefault}}checked{{/if}}/>
        <label for="rating-{{@index}}">{{this.text}}</label>
      </div>
    {{/each}}
  </div>
    <hr>
  <div class="filter-group new-group">
    {{#each new.variations}}
      <div class="filter-element">
        <input type="checkbox" id="new-{{@index}}" name="new" value="{{@key}}" {{#if this.isDefault}}checked{{/if}}/>
        <label for="new-{{@index}}">{{this.text}}</label>
      </div>
    {{/each}}
  </div>
    <hr>
  <div class="filter-group gender-group">
    <p class="filter__group-name">Пол хоста</p>
    {{#each gender.variations}}
      <div class="filter-element">
        <input type="radio" id="sex-{{@index}}" name="sex" value="{{this.value}}" {{#if this.isDefault}}checked{{/if}}/>
        <label for="sex-{{@index}}">{{this.text}}</label>
      </div>
    {{/each}}
  </div>
    <hr>
  <div class="filter-group visitors-group">
    <p class="filter__group-name">Количество гостей</p>
    {{#each visitors.variations}}
      <div class="filter-element">
        <input type="radio" id="vis-{{@index}}" name="vis" value="{{this.value}}" {{#if this.isDefault}}checked{{/if}}/>
        <label for="vis-{{@index}}">{{this.text}}</label>
      </div>
    {{/each}}
  </div>

  <hr>
  <div class="filter-group date-group">
    <p class="filter__group-name">Даты приёма гостей</p>
    <div class="filter__date-inputs">
      <label for="start-date">С</label>
      <input class="filter__date-input" type="date" id="start-date" name="start-date">
      <label for="end-date">По</label>
      <input class="filter__date-input" type="date" id="end-date" name="end-date">
    </div>
  </div>
  
  <button type="submit" class="apply-button">Применить</button>
  <button type="reset" class="reset-button">Сбросить</button>
</form>
