<div class='ad-page' id='{{elementId}}'>
    <main>
        <div class='ad-page__gallery'>
            <ul class='ad-page__gallery__carousel js-main-img-div'>
                <div class='ad-page__gallery__carousel__buttons-container'>
                    <button
                        class='ad-page__gallery__carousel__prev-image-button js-prev-image-button js-carousel-overlay-button'
                    ><svg
                            aria-hidden='true'
                            width='16'
                            height='16'
                            viewBox='0 0 16 16'
                            fill='none'
                            xmlns='http://www.w3.org/2000/svg'
                        ><path
                                fill-rule='evenodd'
                                clip-rule='evenodd'
                                d='M3 8.003 10.707.296l1.414 1.414-6.293 6.293 6.293 6.293-1.414 1.414L3 8.003Z'
                                fill='currentColor'
                            ></path></svg>
                    </button>
                    <button
                        class='ad-page__gallery__carousel__next-image-button js-next-image-button js-carousel-overlay-button'
                    >
                        <svg
                            class='a10a3f92e9--container--izJBY a10a3f92e9--display_block--ERcB0 a10a3f92e9--color_white_100--B2e13'
                            aria-hidden='true'
                            width='16'
                            height='16'
                            viewBox='0 0 16 16'
                            fill='none'
                            xmlns='http://www.w3.org/2000/svg'
                        ><path
                                fill-rule='evenodd'
                                clip-rule='evenodd'
                                d='M13.414 8 5.707.293 4.293 1.707 10.586 8l-6.293 6.293 1.414 1.414L13.414 8Z'
                                fill='currentColor'
                            ></path></svg>
                    </button>
                </div>

                {{#each images}}
                    <li class='ad-page__gallery__carousel__img-container'>
                        <img
                            class='ad-page__gallery__carousel__img-background'
                            src='{{this.path}}'
                        />
                        <img
                            class='ad-page__gallery__carousel__img'
                            src='{{this.path}}'
                        />
                    </li>
                {{/each}}
            </ul>
            <div class='ad-page__gallery__carousel__secondary-images'>
                {{#each images}}
                    <img
                        class='ad-page__gallery__secondary-img js-carousel-img'
                        src='{{this.path}}'
                    />
                {{/each}}
            </div>
        </div>

        <div class='advert-desc'>
            <div class='advert-desc__text-data'>
                <span class='advert-desc__label'>Город:</span>
                <span class='advert-desc__value'>{{cityName}}</span>
                <span class='advert-desc__label'>Адрес:</span>
                <span class='advert-desc__value'>{{address}}</span>
                <span class='advert-desc__label'>Комнаты:</span>
                <span class='advert-desc__value'>{{roomsNumber}}</span>
                <span class='advert-desc__label'>Описание:</span>
                <span class='advert-desc__value'>{{description}}</span>
            </div>
        </div>
    </main>

    <div
        class='ad-page__fullscreen-overlay ad-page__fullscreen-overlay_hidden js-fullscreen-overlay'
    >
        <img
            src='{{currentImagePath}}'
            class='ad-page__fullscreen-overlay__image js-main-image-fullscreen'
        />
    </div>

    <aside class='ad-page-profile-container'>
        <div class='ad-page-profile-container__center'>
            <div class='ad-page-profile-container__photo'>
                <img
                    src='{{author.avatar}}'
                    class='ad-page-profile-container__photo__img1'
                />
            </div>
            <p class='ad-page-profile-container__p1'>{{author.name}}</p>
            <p class='ad-page-profile-container__p2'>{{author.locationMain}}</p>
            <hr class='ad-page-profile-container__hr' />
        </div>

        <div class='ad-page-profile-container__div'>
            <div class='ad-page-profile-container__p'>Рейтинг:</div>
            <div class='ad-page-profile-container__info'>
                <span class='ad-page-profile-container__score-container'>
                    <img
                        class='ad-page-profile-container__img2'
                        src='/star.png'
                        alt='star'
                    />
                    <span
                        class='ad-page-profile-container__score'
                    >{{author.rating}}</span>
                </span>
            </div>
        </div>
        <div class='ad-page-profile-container__div'>
            <div class='ad-page-profile-container__p'>Пол:</div>
            <p class='ad-page-profile-container__info'>{{sex}}</p>
        </div>
        <div class='ad-page-profile-container__div'>
            <div class='ad-page-profile-container__p'>Возраст:</div>
            <p class='ad-page-profile-container__info'>{{age}}</p>
        </div>

        <button class='ad-page-profile-container__write-msg-button'>Напишите
            {{author.name}}
            прямо сейчас
        </button>

        <a class='ad-page-profile-container__show-on-map-button'>Показать на
            карте</a>
    </aside>
</div>